{
  "login": {
    "account": {
      "username": "REDDIT USERNAME",
      "password": "REDDIT PASSWORD"
    },
    "oauth": {
      "type": "script",
      "consumerKey": "PUT REDDIT APP KEY HERE",
      "consumerSecret": "PUT REDDIT APP SECRET HERE",
      "scope": ["read", "modflair", "submit", "modposts"]
    }
  },
  "database": {
    "database": "FlairChecker",
    "username": "",
    "password": "",
    "options": {
      "dialect": "sqlite",
      "storage": "./database.sqlite"
    }
  },
  "flairs": {
    "upcoming": {
      "class": "UpcomingMatch",
      "text": "Upcoming Match"
    },
    "completed": {
      "class": "CompletedMatch",
      "text": "Completed Match"
    },
    "ignores": ["Announcement"]
  },
  "fetchCount": 200,
  "subreddit": "uhcmatches",
  "titleRegex": "^(\\w+ \\d+ \\d+:\\d+)\\s*(?:UTC|UCT)?\\s*\\[?(\\w*)\\]?[ -]+(.*)$",
  "titlePass": {
    "retention": {
      "unit": "months",
      "value": 6
    },
    "graceTime": 2,
    "formatMessage": "The title of this post does not conform to the subreddit rules for match post titles and may have problems showing up on match calendars. Please consider resubmitting with a valid title.\n\n---\n\n^This ^was ^posted ^by ^a ^bot. ^| ^Any ^problems? ^Contact [^ghowden](/u/ghowden) ^| [^Match ^Calendar](http://c.uhc.gg)",
    "timeMessage": "The title of this post has a time in the past. Please consider resubmitting with a valid time.\n\n---\n\n^This ^was ^posted ^by ^a ^bot. ^| ^Any ^problems? ^Contact [^ghowden](/u/ghowden) ^| [^Match ^Calendar](http://c.uhc.gg)"
  }
}