{
  "subreddit": "ultrahardcore",
  "filter": "flair:Upcoming_Match",
  "limit": 100,
  "login": {
    "username": "REDDIT USERNAME",
    "password": "REDDIT PASSWORD"
  },
  "oauth": {
    "type": "script",
    "consumerKey": "PUT KEY HERE",
    "consumerSecret": "PUT SECRET HERE",
    "scope": ["read", "flair", "submit"]
  },
  "database": {
      "database": "FlairChecker",
      "username": "",
      "password": "",
      "options": {
        "dialect": "sqlite",
        "storage": "./database.sqlite"
      }
    },
    "formatChecker": {
      "retention": {
        "unit": "months",
        "value": 6
      },
      "titleRegex": "^(\\w+ \\d+ \\d+:\\d+)\\s*(?:UTC|UCT)?\\s*\\[?(\\w*)\\]?[ -]+(.*)$"
    }
}